[project]
name = "fdp"
version = "1.0.0"
authors = [{ name = "David Gasquez" }]
dependencies = [
    "altair>=6.0.0",
    "dagster>=1.12.11",
    "dagster-dbt>=0.28.11",
    "dagster-duckdb-pandas>=0.28.11",
    "dagster-gcp>=0.28.11",
    "dbt-core>=1.11.2",
    "dbt-duckdb>=1.10.0",
    "duckdb>=1.4.3",
    "google-cloud-bigquery-storage>=2.36.0",
    "httpx>=0.28.1",
    "ipykernel>=7.1.0",
    "ipywidgets>=8.1.8",
    "marimo[lsp,recommended,sql]>=0.19.4",
    "pandas>=2.3.3",
    "polars>=1.37.1",
    "pyarrow>=22.0.0",
    "web3>=6.20.0",
]
requires-python = ">=3.10, <3.14"
readme = "README.md"
license = { text = "MIT" }

[dependency-groups]
dev = [
    "dagster-webserver>=1.12.11",
    "ipykernel>=7.1.0",
    "pyarrow-stubs>=20.0.0.20251215",
    "ruff>=0.14.13",
]

[project.urls]
Homepage = "https://filecoindataportal.xyz/"
Changelog = "https://github.com/davidgasquez/filecoin-data-portal/commits/main/"
Issues = "https://github.com/davidgasquez/filecoin-data-portal/issues"
CI = "https://github.com/davidgasquez/filecoin-data-portal/actions"

[tool.setuptools]
packages = ["fdp"]

[tool.dagster]
module_name = "fdp.definitions"
code_location_name = "fdp"

[tool.pyright]
reportUnknownMemberType = false
