---
import Head from "../components/Head.astro";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const banner = new URL(Astro.props.image || "/banner.png", Astro.site);
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en">
    <head>
        <Head
            title="Filecoin Data Portal"
            author="Nexus Data Labs"
            description="Open Data Platform for the Filecoin Ecosystem."
        />
    </head>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/dashboards">Dashboards</a></li>
            <li><a href="/docs">Documentation</a></li>
        </ul>
    </nav>

    <body>
        <div class="logo">
            <a href="/">
                <img
                    src="/favicon.svg"
                    alt="Filecoin Data Portal Logo"
                    width="120"
                    height="120"
                />
            </a>
        </div>

        <slot />

        <footer>
            <p>
                <a href="https://davidgasquez.com/">Reach Out</a> or explore the
                <a href="https://github.com/davidgasquez/filecoin-data-portal"
                    >project's code</a
                >.
            </p>
        </footer>
    </body>
</html>

<style>
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 100%;
    }

    .navbar ul {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: center;
        gap: 2em;
        flex-wrap: wrap;
    }

    @media (max-width: 768px) {
        .navbar ul {
            flex-direction: column;
            align-items: center;
            gap: 1em;
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .logo a:hover {
        opacity: 0.8;
        text-decoration: none;
        border-bottom: none;
    }

    footer {
        text-align: center;
        padding: 1rem;
        width: 100%;
        font-size: 0.9rem;
    }

    footer a {
        color: var(--text-color);
        text-decoration: none;
        border-bottom: 1px solid var(--link-underline-color);
    }
</style>
