---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>404</h1>

    <p class="message">This is probably not the page you're looking for.</p>
</Layout>

<style>
    .message {
        text-align: center;
    }
</style>
