---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <h1>Dashboards</h1>

    <p>
        The Filecoin Data Portal powers multiple public dashboards for anyone to
        explore. These are all built on top of the same data, so you can easily
        compare them.
    </p>

    <h2>Available dashboards</h2>

    <div class="card-grid">
        <Card
            title="Filecoin In Numbers"
            description="A high-level view into Filecoin Network core metrics with over 50 charts."
            buttons={[
                { text: "Visit", link: "https://numbers.filecoindataportal.xyz/" },
            ]}
        />

        <Card
            title="Filecoin Pulse"
            description="Operational dashboard for Filecoin with metrics per Storage Provider, Client, and Allocator."
            buttons={[
                { text: "Visit", link: "https://pulse.filecoindataportal.xyz/" },
            ]}
        />

        <Card
            title="Dune Filecoin Metrics"
            description="The same metrics as Filecoin In Numbers, but in Dune Analytics."
            buttons={[
                {
                    text: "Visit",
                    link: "https://dune.com/kalen/filecoin-daily-metrics",
                },
            ]}
        />

        <Card
            title="Storage Providers Market"
            description="Charts to improve visibility into the market between Storage Clients and Storage Providers."
            buttons={[
                {
                    text: "Visit",
                    link: "https://filecoin-project.github.io/filecoin-storage-providers-market/",
                },
            ]}
        />
    </div>
</Layout>
