---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <h1>Dashboards</h1>

    <p>
        The Filecoin Data Portal powers multiple public dashboards for anyone to
        explore. These are all built on top of the same data, so you can easily
        compare them.
    </p>

    <h3>
        <a href="https://numbers.filecoindataportal.xyz/">Filecoin In Numbers</a
        >
    </h3>

    A high level view into Filecoin Network core metrics with over detailed 50
    charts.

    <h3>
        <a href="https://pulse.filecoindataportal.xyz/">Filecoin In Pulse</a>
    </h3>

    Operational dashboard for Filecoin. Access information at the Storage
    Provider, Client, or, Allocator level.

    <h3>
        <a href="https://dune.com/kalen/filecoin-daily-metrics"
            >Dune Filecoin Metrics</a
        >
    </h3>

    Same metrics as the Filecoin In Numbers dashboard, but in Dune Analytics,
    providing a view into the Filecoin Ecosystem.

    <h3>
        <a
            href="https://filecoin-project.github.io/filecoin-storage-providers-market/"
            >Filecoin Storage Providers Market Dashboard</a
        >
    </h3>

    Charts to improve visibility into the market between Storage Clients and
    Storage Providers.
</Layout>
