---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <h1>Data</h1>

    <p>
        The Filecoin Data Portal provides multiple datasets for users to explore
        and analyze. These datasets are updated on a daily basis and are
        available for download in various formats.
    </p>

    <h2 id="metrics">Metrics</h2>
    <p>
        These datasets offer a wide range of metrics that can be used to analyze
        the Filecoin Ecosystem at different timescales.
    </p>

    <div class="card-grid">
        <Card
            title="Daily"
            description="Collection of Filecoin related metrics at the daily level."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_daily_metrics.parquet",
                },
                {
                    text: "Sheet",
                    link: "https://docs.google.com/spreadsheets/d/1uq9J_WTJO6kAvQlrqkqR8GHfQfh3SJ84OSj88Mff6vY/edit?usp=sharing",
                },
            ]}
        />

        <Card
            title="Weekly"
            description="Collection of Filecoin related metrics at the weekly level."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_weekly_metrics.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_weekly_metrics.parquet",
                },
            ]}
        />

        <Card
            title="Monthly"
            description="Collection of Filecoin related metrics at the monthly level."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_monthly_metrics.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_monthly_metrics.parquet",
                },
            ]}
        />

        <Card
            title="Storage Providers Daily"
            description="Storage Providers specific metrics, at the daily level."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_daily_storage_providers_metrics.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_daily_storage_providers_metrics.parquet",
                },
            ]}
        />

        <Card
            title="Clients Daily"
            description="Clients specific metrics, at the daily level."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_daily_clients_metrics.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_daily_clients_metrics.parquet",
                },
            ]}
        />

        <Card
            title="Transactions Daily"
            description="Transactions specific metrics, at the daily level."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_daily_transactions.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_daily_transactions.parquet",
                },
            ]}
        />
    </div>

    <h2 id="entities">Entities</h2>
    <p>
        These datasets provide information and up to date metrics about the
        different entities in the Filecoin Ecosystem. Each row in these datasets
        represents a unique entity (deal, client, provider).
    </p>

    <div class="card-grid">
        <Card
            title="Storage Providers"
            description="Information and metrics about all the Storage Providers."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_storage_providers.parquet",
                },
                {
                    text: "Sheet",
                    link: "https://docs.google.com/spreadsheets/d/1hC5HwuiqQvQcVvV06n3SH0wKkZwbw20EufGYHSyENs0/edit?usp=sharing",
                },
            ]}
        />

        <Card
            title="Clients"
            description="Information and metrics about all the Clients."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_clients.parquet",
                },
                {
                    text: "Sheet",
                    link: "https://docs.google.com/spreadsheets/d/15xi39OheVJ-_WyI7sxwmvgMIVFkZN07NOYWLe5iKXnI/edit?usp=sharing",
                },
            ]}
        />

        <Card
            title="Allocators"
            description="Information and metrics about all the Allocators."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_allocators.parquet",
                },
                {
                    text: "Sheet",
                    link: "https://docs.google.com/spreadsheets/d/1uixeylC3pTeOkKh0L2fGsd7YKuyaA6Hse_fhWrm1BIA/edit?usp=sharing",
                },
            ]}
        />

        <Card
            title="Deals"
            description="Information and metrics about all the Deals."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_state_market_deals.parquet",
                },
                {
                    text: "Preview",
                    link: "https://sql-workbench.com/#queries=v0,select-*-from-'https%3A%2F%2Fdata.filecoindataportal.xyz%2Ffilecoin_state_market_deals.parquet'-limit-1000~",
                },
            ]}
        />

        <Card
            title="Datacap Allocations"
            description="Details about all the Datacap Allocations."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_datacap_allocations.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_datacap_allocations.parquet",
                },
            ]}
        />

        <Card
            title="Allocators Datacap Allowances"
            description="Details about all the Datacap Allowances for Allocators."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_allocators_datacap_allowances.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_allocators_datacap_allowances.parquet",
                },
            ]}
        />

        <Card
            title="Clients Datacap Allowances"
            description="Details about all the Datacap Allowances for Clients."
            buttons={[
                {
                    text: "Download",
                    link: "https://data.filecoindataportal.xyz/filecoin_clients_datacap_allowances.parquet",
                },
                {
                    text: "Preview",
                    link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_clients_datacap_allowances.parquet",
                },
            ]}
        />
    </div>
</Layout>
