---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
    <h1>Data</h1>

    <p>
        The Filecoin Data Portal provides multiple datasets for users to explore
        and analyze. These datasets are updated on a daily bases and are
        available for download in various formats.
    </p>

    <h2 id="metrics">Metrics</h2>
    <p>
        These datasets offer a wide range of metrics that can be used to analyze
        the Filecoin Ecosystem at different timescales.
    </p>

    <div class="grid">
        <div class="grid-item">
            <Card
                title="Daily"
                description="Collection of Filecoin related metrics at the daily level."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_daily_metrics.parquet",
                    },
                    {
                        text: "Sheet",
                        link: "https://docs.google.com/spreadsheets/d/1uq9J_WTJO6kAvQlrqkqR8GHfQfh3SJ84OSj88Mff6vY/edit?usp=sharing",
                    },
                ]}
            />
        </div>

        <div class="grid-item">
            <Card
                title="Weekly"
                description="Collection of Filecoin related metrics at the weekly level."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_weekly_metrics.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_weekly_metrics.parquet",
                    },
                ]}
            />
        </div>

        <div class="grid-item">
            <Card
                title="Monthly"
                description="Collection of Filecoin related metrics at the monthly level."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_monthly_metrics.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_monthly_metrics.parquet",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Storage Providers Daily"
                description="Storage Providers specific metrics, at the daily level."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_daily_storage_providers_metrics.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_daily_storage_providers_metrics.parquet",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Clients Daily"
                description="Clients specific metrics, at the daily level."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_daily_clients_metrics.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_daily_clients_metrics.parquet",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Transactions Daily"
                description="Transactions specific metrics, at the daily level."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_daily_transactions.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_daily_transactions.parquet",
                    },
                ]}
            />
        </div>
    </div>

    <h2 id="entities">Entities</h2>
    <p>
        These datasets provide information and up to date metrics about the
        different entities in the Filecoin Ecosystem. Each row in these datasets
        represents a unique entity (deal, client, provider).
    </p>

    <div class="grid">
        <div class="grid-item medium">
            <Card
                title="Storage Providers"
                description="Information and metrics about all the Storage Providers."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_storage_providers.parquet",
                    },
                    {
                        text: "Sheet",
                        link: "https://docs.google.com/spreadsheets/d/1hC5HwuiqQvQcVvV06n3SH0wKkZwbw20EufGYHSyENs0/edit?usp=sharing",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Clients"
                description="Information and metrics about all the Clients."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_clients.parquet",
                    },
                    {
                        text: "Sheet",
                        link: "https://docs.google.com/spreadsheets/d/15xi39OheVJ-_WyI7sxwmvgMIVFkZN07NOYWLe5iKXnI/edit?usp=sharing",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Allocators"
                description="Information and metrics about all the Allocators."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_allocators.parquet",
                    },
                    {
                        text: "Sheet",
                        link: "https://docs.google.com/spreadsheets/d/1uixeylC3pTeOkKh0L2fGsd7YKuyaA6Hse_fhWrm1BIA/edit?usp=sharing",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Deals"
                description="Information and metrics about all the Deals."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_state_market_deals.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://sql-workbench.com/#queries=v0,select-*-from-'https%3A%2F%2Fdata.filecoindataportal.xyz%2Ffilecoin_state_market_deals.parquet'-limit-1000~",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Datacap Allocations"
                description="Details about all the Datacap Allocations."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_datacap_allocations.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_datacap_allocations.parquet",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Allocators Datacap Allowances"
                description="Details about all the Datacap Allowances for Allocators."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_allocators_datacap_allowances.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_allocators_datacap_allowances.parquet",
                    },
                ]}
            />
        </div>

        <div class="grid-item medium">
            <Card
                title="Clients Datacap Allowances"
                description="Details about all the Datacap Allowances for Clients."
                buttons={[
                    {
                        text: "Download",
                        link: "https://data.filecoindataportal.xyz/filecoin_clients_datacap_allowances.parquet",
                    },
                    {
                        text: "Preview",
                        link: "https://manzt.github.io/quak/?source=https://data.filecoindataportal.xyz/filecoin_clients_datacap_allowances.parquet",
                    },
                ]}
            />
        </div>
    </div>
</Layout>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 30px 0;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
    }

    .grid-item.medium {
        grid-column: span 1;
    }

    .grid-item.full {
        grid-column: span 3;
    }

    /* Responsive grid */
    @media (max-width: 768px) {
        .grid {
            grid-template-columns: 1fr;
        }

        .grid-item.medium,
        .grid-item.full {
            grid-column: span 1;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .grid-item.full {
            grid-column: span 2;
        }
    }
</style>
