*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --link-underline-color: #b1b1b1;

    --background-color-light: #fff;
    --background-color-dark: #000;
    --text-color-light: #000;
    --text-color-dark: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    line-height: 1.4;

    background-color: var(--background-color);
    color: var(--text-color);

    margin: 0 auto;
    padding: 1rem;
    max-width: min(90%, 800px);
}

.logo {
    text-align: center;
    margin: 3em auto 1em;
}

.logo a {
    border-bottom: none;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--link-underline-color);
}

footer {
    margin-top: 40px;
    font-family: var(--font-monospace);
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
}

.navbar {
    margin-bottom: 2em;
    font-family: var(--font-monospace);
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 2em;
}

.navbar a {
    border-bottom: none;
}

.navbar a:hover {
    border-bottom: 1px solid #b1b1b1;
}

h1 {
    font-weight: 500;
    text-align: center;
    font-family: var(--font-monospace);
}

h2,
h3 {
    font-weight: 600;
    font-family: var(--font-monospace);
    margin-top: 1.5em;
}
